@model ExpenseManager.ViewModel.RecordViewModel
@{
    ViewBag.Title = "Home Page";
}

<style>
    table {
        width: 100%;
    }

    th {
        height: 30px;
    }

    th, td {
        border-bottom: 1px solid #ddd;
    }

    .scrollingTable {
        height: 200px;
        overflow-y: auto;
    }
</style>
<link href="~/Content/c3.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-6">
        @Html.Partial("_AddPayment", Model)
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        @Html.Partial("_TotalExpenditure", Model.report)
    </div>
</div>
<br />


<div class="row">
    <div class="col-md-7">
        <h3>Daily Expense Timeline</h3>
        <div id="chart"></div>
    </div>
    <div class="col-md-5">
        <h3>Remaining Expense</h3>
        <div id="remainingExpenseChart"></div>
        <h4>Remaining: $3000 - $@ViewBag.Total </h4>
        <h1> $<span id="remaining"></span> </h1>
        
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-10" height="60">
        @Html.Partial("_DetailExpense", Model.expenses)
    </div>
    
    <div class="col-md-2">
        @Html.Partial("_PaymentsDate")
        
    </div>
</div>
<br />
<div class="row">
   
    <div class="col-md-12">
        <h3>Total Expense Chart</h3>
    <div id="totalExpencePieChart"></div></div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/d3.v4.js"></script>
<script src="~/Scripts/c3.min.js"></script>
<script>

    var dailyExpenseData = jQuery.parseJSON('@Html.Raw(ViewBag.DailyExpenseGraph)'); 
    var totalExpense = jQuery.parseJSON('@Html.Raw(ViewBag.totalExpenseGraph)');
    var totalexpenditure = '@ViewBag.Total';
    $(document).ready(function () {
   
        var pieChartColumnData = [];

        $.each(totalExpense, function (key, value) {
            pieChartColumnData.push([key, value]);
        });

        var totalExpencePieChart = c3.generate({
            bindto: "#totalExpencePieChart",
            data: {
                columns: pieChartColumnData,
                type: 'pie'
            }
        });

        var chart = c3.generate({
            bindto: "#chart",
            data: {
                columns: [
                dailyExpenseData
                ]
            }
        });

        var remaining = (3000 - parseInt(totalexpenditure));
        document.getElementById("remaining").innerHTML = remaining;
        var remainingPercent = remaining / 30;
        var remainingExpense = c3.generate({
            bindto: "#remainingExpenseChart",
            data: {
                columns: [
                    ['data', remainingPercent]
                ],
                type: 'gauge',
            },
            color: {
            pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], 
            threshold: {
            values: [30, 60, 90, 100]
        }
    },
          
        });

        $("#totalExpencePieChart").append(totalExpencePieChart.element);
        $("#chart").append(chart.element);
        $("#remainingExpenseChart").append(remainingExpense.element);

      
       
    });

 
</script>